@page "/admin/role/add"

<MudButton Class="mb-5" Variant="Variant.Filled">Volver</MudButton>

<MudGrid>
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                <MudTextField T="string" Label="Rol" Required="true" RequiredError="El nombre del rol es requerido!" />
                <MudTextField T="string" Label="Descripción" Lines="3" Required="true" RequiredError="La descripción del rol es requerida!" />
                <div class="d-flex justify-end mt-6">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)">Añadir</MudButton>
                </div>
            </MudForm>
        </MudPaper>
    </MudItem>
</MudGrid>


@code {
    bool success;
    string[] errors = { };
    MudTextField<string> pwField1;
    MudForm form;
}