@inherits LayoutComponentBase

<PageTitle>Admegatest</PageTitle>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudMainContent>
        <div class="d-flex justify-center wrapper-body-login">
            @Body
        </div>
    </MudMainContent>
</MudLayout>